{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain 'Admin.Advparameters.Feature' %}

{% block content %}
  {% if importForm is defined %}
    <div class="row row justify-content-center">
      <div class="col-xl-10">
        <div class="row">
          <div class="col-12 col-md-8">
            <h2>Кекс пекс</h2>
            {% block import_panel %}
              {% include '@PrestaShop/Admin/Configure/AdvancedParameters/Blocks/import_panel.html.twig' %}
            {% endblock %}
          </div>

          <div class="col-12 col-md-4">

              {% trans_default_domain 'Admin.Advparameters.Feature' %}

              <div class="card">
                <h3 class="card-header">
                  <i class="material-icons">list</i> {{ 'Available fields'|trans }}
                </h3>
                <div class="card-block">
                  <div class="js-available-field-template d-none"></div>
                  <span class="help-box js-available-field-popover-template d-none" data-toggle="popover"></span>
                  <div
                    class="alert alert-info js-available-fields"
                    role="alert"
                    data-url="{{ path('admin_import_get_available_fields') }}"
                  >
                  </div>

                  <p>{{ '* Required field'|trans({}, 'Admin.Advparameters.Feature') }}</p>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('themes/new-theme/public/imports.bundle.js') }}"></script>
{% endblock %}
